.blobContainer_e5445c>.wrapper_cc5dd2>.lowerBadge_cc5dd2 {
    width: 100%;
    height: 100%;
    /* opacity: 50%; */
    display: flex;
    align-items: end;
    justify-content: end;

    .numberBadge__2b1f5 {
        animation: 0.75s ease 0s ping-anim;
        animation-iteration-count: 1;
        border-radius: 10px;
        transition: all 0.1875s ease;
    }
}
.folderButton__48112>.wrapper_cc5dd2>.lowerBadge_cc5dd2 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: end;

    .numberBadge__2b1f5 {
        animation: 0.75s ease 0s ping-anim;
        animation-iteration-count: 1;
        border-radius: 14px;
        transition: all 0.1875s ease;
    }
}
.blobContainer_e5445c:hover,
.folderButton__48112:hover {
    .numberBadge__2b1f5 {
        width: 100% !important;
        height: 100%;
        font-size: 16px;
    }
}
@keyframes ping-anim {

    25% {
        width: 100%;
        height: 100%;
        font-size: 16px;
    }

    75% {
        width: 100%;
        height: 100%;
        font-size: 16px;
    }
}
.wrapper__58105 {
    opacity: 1; /* 0.25 */
}
