/* ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾ */
/* Compact Member List */
/* ___________________ */
/* https://discord.com/channels/1173279886065029291/1498171209559314453 */

.membersWrap_c8ffbb {
overflow: hidden;
.members_c8ffbb {
height: 120%;
scrollbar-width: none !important;
/* member count */
.vc-membercount-widget {
  margin: 0.33em 0 0;
}
/* panel */
.content_d125d2 {
  padding: 0 0.25ch;
  /* activity header bar */
  .headerContainer__095fe {
    /* padding-left: 0; */
  }

  /* activity cards */
  .container__0f2e8  {
    margin: 0.25em;
    padding: 0.25em;
  }

  /* role header
  .membersGroup_c8ffbb {
    padding: 0.25em 0 0 0.125ch;
    margin: 0;
  } */

  /* each member row
  .member__5d473,
  .childContainer__91a9d,
  .memberInner__5d473 {
    padding: 0;
    margin: 0;
    max-width: 100%;

    /* pfp
    .avatar__91a9d {
      scale: 0.9;
      margin: 0;
      padding-right: 0.5ch;
    } */
  }
}}}
