/* compact context menu */
div[aria-label*="Actions"]>div[dir="ltr"] {

    margin: -4px;
    height: fit-content;

    div[class*="-wrapper"] {
        padding: 2px;
    }

    div[role="separator"] {
        margin: 1px 8px;
    }

    div>div>div>div[class*="-layer"]>div[class*="submenuPaddingContainer"] {
        transform: translate(0, -5px);

        padding: 0 4px;

        div[class*="-submenu"] {

            div[class*="-scroller"] {
                padding: 4px;
            }
        }
    }
}
