/* ===== MINI CONTEXT MENU ===== */
[role="menu"] > [class*="scroller"] {
  /* the higher the number, the greater the indentation from the edges of the menu */
    margin: -9px;
}
[role="menuitem"] {
    min-height: 24px !important; /* buttons size */
    padding: 4px 8px !important; /* padding between buttons */
    font-size: 14px;
    white-space: nowrap;
}
[role="menuitem"] [class*="iconContainer"] {
    min-width: 20px;
    margin-left: 5px;
}
[role="menuitem"] svg,
[role="menuitem"] img {
    width: 20px;
    height: 20px;
}
[role="menu"] [role="separator"] {
    margin: 1px 6px !important;
}
[role="menu"] [class*="f563df"][class*="wrapper"] {
    display: none !important;
}
