/* СКРЫВАЕТ КНОПКИ ВВОДА */
[class^=chat_] [class*=textArea_] {
  margin-right: 24px;
  +[class^=buttons_] {
    position: absolute;
    right: 0;
    background-color: hsl(var(--primary-560-hsl) / 0.5);
    backdrop-filter: blur(3px);
    border-radius: 8px;
    &:not(:hover)>:not(:last-child) {
      display: none;
    }	*/
/* Send message button fix */ 
    &:not(:hover)>[class^=container_] button>div {
      margin-left: 5px;
    }
  }
} 
