.user-profile-sidebar::after {
    /* Duscord's color setup */
    --profile-gradient-start:  color-mix(in oklab, var(--profile-gradient-overlay-color) 100%, var(--profile-gradient-primary-color));
    --profile-gradient-end:  color-mix(in oklab, var(--profile-gradient-overlay-color) 100%, var(--profile-gradient-secondary-color));
    /* The cat */
    content: 
   "  ╱|、   \a"
 " ( ˚ˎ 。7  \a"
  "   |、˜ 〵\  \a"
"     じしˍ, )ノ";

    white-space: pre;
    inset: 0;
    padding: 20px;
    color: white;
    /* Also discords */
    background: linear-gradient(var(--profile-gradient-start), var(--profile-gradient-start) var(--custom-user-profile-banner-height), var(--profile-gradient-end));
    text-align: center;
    font-size: 150%;
}
